/* footer_style_pc.css */

#main_footer {
  width: 100%;
  background: #e5f6ff;
  position: relative;
}
  /***** 상단메뉴 *****/
  #ft_nav {
    width: 100%;
    background: #b3deff;
  }
    /***** 메뉴 목록 *****/
    #ft_nav > ul {
      width: 100%;
      text-align: center;
      padding-top: 60px;
    }
      #ft_nav > ul > li {
        display: inline-block;
        padding-right: 30px;
      }
        #ft_nav > ul > li > a {
          font-size: 18px;
          line-height: 40px;
          font-weight: 300;
          color: #515151;
        }

  /***** family site *****/
  .fms_wrap {
    position: absolute;
    top: 10px; left: 50%;
    transform: translateX(-50%);
  }
    .fms {
      width: 190px;
      font-size: 16px;
      font-weight: 300;
    }
      .fms > h2 {
        width: 180px; height: 40px;
        box-sizing: border-box;
        border: 1px solid #515151;
        line-height: 40px;
        color: #515151;
        padding-left: 10px;
        background: url(../images/fms.png) no-repeat #fff 150px center;
      }
      .fms > ul {
        width: 180px; height: 0;
        box-sizing: border-box;
        border-left: 1px solid #515151;
        border-right: 1px solid #515151;
        position: absolute;
        left: 0; bottom: 40px;
        background: #fff;
        transition-duration: 0.3s;
        overflow: hidden;   
      }
      .fms > ul.active {
        height: 90px;
        border-top: 1px solid #515151;
      }
        .fms > ul > li {
          height: 45px;
          line-height: 45px;
          padding-left: 10px;
        }
        .fms > ul > li:hover {
          background: #b3deff;
        }

  /***** 하단메뉴 *****/
  #util {
    width: 100%;
    position: relative;
    background: #e5f6ff;
    padding-bottom: 30px;
    color: #a0a0a0;
  }
    .util_wrap {
      width: 100%;
      text-align: center;
    }
      .util_wrap > .logo {
        position: absolute;
        top: -77px; left: 50%;
        transform: translateX(-50%);
        width: 130px; height: 55px;
        background: url(../images/ft_logo.png) no-repeat;
        background-size: 100%;
        text-indent: -6000px; overflow: hidden;
      }
      .info {
        position: relative;
        text-align: center;
        font-size: 16.4px;
        font-weight: 300;
      }
        .info > ul {
          margin-top: 110px;
          margin-bottom: 15px;
        }
          .info > ul > li {
            display: inline-block;
            padding-right: 20px;
          }
          .info > ul > li:last-child {
            padding-right: 0;
          }
          .info > address {
            margin-bottom: 15px;
          }
          p.copyright {
            margin-top: 10px;
          }